html{
    background-image: url("../terrazzo.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
textarea{
    resize: none;
}
.app{
    margin: 0;
    height: 100vh;
    
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 0fr 0fr 1fr;;
    height: 100vh;
    margin: 1em;
}


//formulario
.left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
 
}
    .input{

    &-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    min-height: 400px;
    background-color:  #86d7bcab;;
    border-radius: 25px;
    } 
    &-title {
        padding: 18px;
        font-size: 15px;
        border-radius: 18px;
        border: 0;
        margin-top: 3em;
        width: 20em;
        

    }
    &-description{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 18px;
        font-size: 15px;
        border-radius: 18px;
        border: 0;
        height: 10em;
        width: 20em;
        text-align: justify;
        
    }
}
.save-button {
    font-size: 14px;
    padding: 18px;
    border-radius: 21px;
    background-color:#47a9ae;
    color: white;
    font-weight: bold;
    border: 0;

    &:hover {
        cursor: pointer;
        background-color:#0b4548c4;
        }
}
.done-button {
    font-size: 14px;
    padding: 15px;
    border-radius: 19px;
    background-color: #9f7e8cde;
    color: white;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 75px;
    float:left;
    &:hover {
        cursor: pointer;
        background-color:#512538c9;
        }
}
.delete-button {
    font-size: 14px;
    padding: 15px;
    border-radius: 19px;
    background-color: hsl(29, 80%, 73%);
    color: white;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 75px;
    align-content: center;
    &:hover {
        cursor: pointer;
        background-color:#ac3f1dbd;
    }
}
.show-button{
    float: center;
    font-size: 14px;
    padding: 15px;
    border-radius: 19px;
    background-color: hsl(29, 80%, 73%);
    color: white;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 210px;
    align-content: center;
    margin-bottom:10px;
    &:hover {
        cursor: pointer;
        background-color:#ac3f1dbd;
    }
}
//item list
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 400px;
    min-height: 400px;
    background-color:  #86d7bcab;;
    border-radius: 25px;
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &-block{
        padding: 18px;
        font-size: 15px;
        border-radius: 18px;
        border: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 14em;
        background-color: white;
        justify-content: space-around;
        padding-bottom: 7px;

        &-title{
            font-size: 18px;
            color:#595555;
            
        }
        &-description{
            font-size: 15px;
            color: #645d5d;
        }
        &-time{
            font-size: 10px;
            color: #a86363;
        }
    }
   
}
